.app-footer {
  padding: 100px 0 50px 0;
  background: #4075ab;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
}
.app-footer .container {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.app-footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.app-footer .right {
  display: flex;
  gap: 24px;
  align-items: flex-end;
}
.app-footer .right .nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  row-gap: 20px;
}
.app-footer .copyright {
  padding: 0;
  border-top: 1px solid #B4D9FF;
  padding-top: 24px;
}
.app-footer .copyright p {
  width: 100%;
  text-align: right;
}
