@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  color: #1F1F1F;
  font-family: "Manrope", sans-serif;
}
.app-main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 104px;
}
.app-main.is-main-page {
  margin-top: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}
.wide {
  max-width: 100%;
  padding: 0;
}
h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.55px;
}
h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.55px;
}
h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.352px;
}
h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.264px;
}
.text-32 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 38.4px */
}
.text-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.22px;
}
.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.176px;
}
.text-white {
  color: #FFFFFF;
}
.text-secondary {
  color: #5D6265;
}
