@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "variables";

body {
  color: $text;
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 104px;

  &.is-main-page {
    margin-top: -104px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.wide {
  max-width: 100%;
  padding: 0;
}

a {
  transition: color 0.2s ease;

  &:hover {
    color: $main;
  }
}

.text-white a,
a.text-white {
  &:hover {
    color: #dddcdc;
  }
}

h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.55px;
}

h2 {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.55px;
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.352px;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.264px;
}

.text-32 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}

.text-24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.264px;
}

.text-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.22px;
}

.text-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.176px;
}

.text-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.text-40 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.22px;
}

.text-white {
  color: $white;
}

.text-secondary {
  color: $text-secondary;
}
