<template id="custom-button-template">
	<style>:host
	{
		display: inline-block;
		width: fit-content;
	}
	.ui-button {
		padding: 16px 32px;
		border-radius: 10px;
		background: #4075AB;
		border: none;
		cursor: pointer;
		color: white;
		color: #FFF;
		font-family: "Inter", sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px; /* 120% */
		letter-spacing: -0.22px;
		display: flex;
		align-items: center;
		gap: 10px;
		transition: all 0.2s ease-in-out;
	}

	.ui-button:hover {
		background: #2A5E91;
	}

	.ui-button-icon-wrapper {
		width: 14px;
		height: 15px;
		position: relative;
	}
</style>

<button class="ui-button" type="button">
	<slot name="text">Button</slot>
	<div class="ui-button-icon-wrapper">
		<slot name="icon"></slot>
	</div>

</button></template>
