</main>
<footer class="app-footer">
	<div class="container">
		<div class="left">
			<div class="logo">
				<a href="/">
					<img src="{{ server }}image/footer-logo.png" alt="Logo">
				</a>
			</div>
			<div class="form">
				<p class="text-16 text-white">
					Be the first to know about new arrivals!
				</p>
			</div>
		</div>
		<div class="right">
			<ul class="nav text-18 text-white">
				<li><a href="#">Shipping & Payment</a></li>
				<li><a href="#">Batteries</a></li>
				<li><a href="#">Warranty & Returns</a></li>
				<li><a href="#">Controllers</a></li>
				<li><a href="#">Contacts</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">FAQs</a></li>
				<li><a href="#">Terms of Use</a></li>
			</ul>
			<div class="payments">
				<img src="{{ server }}image/footer/visa.png" alt="Visa">
				<img src="{{ server }}image/footer/mastercard.png" alt="Mastercard">
				<img src="{{ server }}image/footer/american.png" alt="American Express">
			</div>
		</div>
	</div>
	<div class="container copyright">
		<p class="text-14 text-white">© 2025 All Rights Reserved</p>
	</div>
</footer>
</body>

</html>