.cart-title {
  margin-top: -72px;
  margin-bottom: 32px;

  .title {
    color: #1f1f1f;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.352px;
  }
}

.block {
  border-radius: 10px;
  border: 1px solid #cbdae8;
  background: #fff;
}

.cart-content {
  display: grid;
  grid-template-columns: auto 433px;
  gap: 20px;
}

.summary {
  height: fit-content;
  padding: 32px;

  .summary-title {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.22px;
    margin-bottom: 26px;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .text-16 {
      color: #6d6d6d;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.176px;
    }

    .text-20 {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 24px */
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background: #D2D2D2;
    margin: 25px 0 32px 0;
  }

  .button {
    margin-top: 30px;
  }
}

.cart-items {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 100px;

  .separator {
    width: 100%;
    height: 1px;
    background: #D2D2D2;
  }
}