.title {
  color: #1f1f1f;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.352px;
}

.block {
  border-radius: 10px;
  border: 1px solid #cbdae8;
  background: #fff;
  padding: 32px;
}

.content {
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto 433px;
  gap: 20px;
  margin-bottom: 100px;
}

.summary {
  height: fit-content;
  padding: 32px;

  .summary-title {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.22px;
    margin-bottom: 26px;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .text-16 {
      color: #6d6d6d;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.176px;
    }

    .text-20 {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 24px */
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background: #d2d2d2;
    margin: 25px 0 32px 0;
  }

  .button {
    margin-top: 30px;
  }
}

.navigation {
  display: flex;
  gap: 10px;
  margin-top: 24px;

  li {
    display: flex;
    padding: 10px 10px 6px 10px;
    justify-content: center;
    align-items: center;
    color: #919191;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.176px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;

    &:hover {
      color: #4075ab;
    }

    &.active {
      color: #4075ab;
      font-weight: 600;
      border-bottom: 2px solid #4075ab;
    }
  }
}

.fields-title {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.22px;
  margin-top: 32px;
  margin-bottom: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ced4da;

  p {
    color: #000;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.072px;
  }

  a {
    color: #4075ab;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08px;
  }
}
