.title {
  color: #1f1f1f;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.352px;
}

.block {
  border-radius: 10px;
  border: 1px solid #cbdae8;
  background: #fff;
}

.content {
  margin-top: 24px;
  display: grid;
  grid-template-columns: auto 433px;
  gap: 20px;
  margin-bottom: 100px;
}

.summary {
  height: fit-content;
  padding: 32px;

  .summary-title {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.22px;
    margin-bottom: 26px;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .text-16 {
      color: #6d6d6d;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.176px;
    }

    .text-20 {
      color: #000;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 24px */
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background: #d2d2d2;
    margin: 25px 0 32px 0;
  }

  .button {
    margin-top: 30px;
  }
}

.block.login {
  padding: 30px 24px 63px 24px;

  .title {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.22px;
    margin-bottom: 19px;
  }
}

.navigation {
  display: flex;
  gap: 10px;
  margin-top: 24px;

  li {
    display: flex;
    padding: 10px 10px 6px 10px;
    justify-content: center;
    align-items: center;
    color: #919191;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.176px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;

    &:hover {
      color: #4075ab;
    }

    &.active {
      color: #4075ab;
      font-weight: 600;
      border-bottom: 2px solid #4075ab;
    }
  }
}

.auth-form {
  max-width: 500px;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 19px;

    .forgot-password {
      margin-top: -7px;
      color: #4075ab;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.176px;
    }
  }

  .separator {
    display: flex;
    align-items: center;
    gap: 15px;

    .text {
      color: #6d6d6d;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.176px;
    }

    .divider {
      width: 100%;
      height: 1px;
      background: #d2d2d2;
    }
  }
}

.oauth-button {
  color: #4075ab;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.22px;

  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #4075ab;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #4075ab;
    color: #fff;
    border: 2px solid #4075ab;
  }
}

.signup-link {
  margin-top: -8px;
  text-align: center;
  color: #000;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.176px;

  a {
    color: #4075ab;
    text-decoration: none;
  }
}

.block.fields {
  padding: 32px 24px 46px 24px;
  margin-top: 32px;

  .fields-title {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.22px;
    margin-bottom: 24px;

    &.mt-32 {
      margin-top: 32px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 16px;
  }
}

.delivery-methods {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.delivery-option {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  cursor: pointer;

  input[type="radio"] {
    width: 24px;
    height: 24px;
    margin-top: 2px;
    accent-color: #4075ab;
    cursor: pointer;
  }
}

.delivery-option__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.delivery-option__title {
  margin-top: 2px;
  font-family: Inter;
  color: #292929;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135.8%; /* 21.728px */
  letter-spacing: -0.48px;
}
