<template id="ui-button-secondary-template">
	<style>
		:host {
			display: inline-block;
			width: 100%;
		}

		.button-secondary {
			width: 100%;
			padding: 16px 32px;
			border-radius: 10px;
			background: #4075AB;
			border: none;
			cursor: pointer;
			color: white;
			color: #FFF;
			font-family: "Inter", sans-serif;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			transition: all 0.2s ease-in-out;
		}

		.button-secondary:hover {
			background: #2A5E91;
		}
	</style>

	<button class="button-secondary" type="button">
		<slot name="text">Button</slot>
	</button>
</template>