{{ header }}

<div class="auth-form">
  <h1 class="title">Login</h1>
  <form class="form">
    <ui-input label="Email" placeholder="Enter"></ui-input>
    <ui-input label="Password" placeholder="Enter" type="password"></ui-input>
    <a href="{{ forgot_password_url }}" class="forgot-password">Forgot password?</a>
    <ui-button-secondary class="button">
      <span slot="text">Login</span>
    </ui-button-secondary>
  </form>
  <div class="separator">
    <div class="divider">
    </div>
    <div class="text">or</div>
    <div class="divider">
    </div>
  </div>
  <div class="oauth-button">Continue with Google</div>
  <div class="signup-link">Don't have an account? <a href="{{ register_url }}">Sign up</a></div>

</div>

{{ footer }}