{{ header }}

<div class="auth-form">
  <h1 class="title">Create new passsword</h1>
  <form class="form">
    <p class="description">Set a new password and repeat it</p>
    <ui-input label="Password" placeholder="Enter new Passsword "></ui-input>
    <ui-input label="Password again" placeholder="Enter new Passsword again"></ui-input>
    <a href="{{ login_url }}" class="login">
      <ui-button-secondary class="button">
        <span slot="text">Confirm</span>
      </ui-button-secondary>
    </a>
  </form>
</div>

{{ footer }}